body{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 80px 50px auto 80px;
  grid-template-areas: "hd hd"
                       "nv nv"
                       "mn as"
                       "ft ft"
}
header,nav,main,section,aside,footer{
  font-family: Verdana, Genova, Tahoma, sans-serif;
  background-color: red;
  margin: 5px;
  color: white;
  text-align: center;
}
header{
  grid-area: hd;
  font-size: 30px;
  background-color: blue;
}
nav{
  grid-area: nv;
}
main{
  grid-area: mn;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 300px;
  grid-template-areas: ". ."
                       "sc1 sc1"
}
aside{
  grid-area: as;
}
footer{
  grid-area: ft;
}
#s1{
  grid-area: sc1;
}
canvas{
    border: 2px solid blue
}
svg{
    border: 2px solid red
}
#lisitea
{
color:goldenrod;
font-size:49px;
}

h1
{
	text-align:center;
	color: darkblue;
	font-family:verdana;
font-size:98px;

	background-color:goldenrod;
}

nav{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    background: midnightblue;
    color: darkgoldenrod;
    width: 20%;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

nav> a:hover{
    color:brown;
    background-color: blue;
}

@media(max-width: 400px){
    nav{
        flex-direction: column;
    }
}
