
nav{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    background: midnightblue;
    color: darkgoldenrod;
    width: 20%;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

nav> a:hover{
    color:brown;
    background-color: blue;
}

@media(max-width: 600px){
    nav{
        flex-direction: column;
    }
}